*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}



.App{
  display:grid;
  height:100vh;
  place-content: center;
  
}
.tabel{
  display:grid;
  grid-gap: 10px;
  place-items: center;
  
}
.tabel ul{
  display:grid;
  grid-template-columns:repeat(3,20px);
  place-content: center;
  padding:5px;
  gap: 10px;
  border: 1px solid rgba(95, 91, 91, 0.507); 
}
.tabel input {
  cursor:pointer;
}
.tabel input:checked {
  border: none;
  outline: 2px solid deeppink;
  display:none;
}
.tabel label{
  display:grid;
  place-content: center;
  padding: 3px;
  border: 1px solid rgba(95, 91, 91, 0.507);
  border-radius: 5px;
  background-color: rgb(31, 80, 80);
  color: white;
}