
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  border: solid 1px gray;
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-auto-rows: 10vw;
}

.cell {
  border: solid 1px gray;

  display: grid;
  place-content: center;
  font-size: 6vw;
}

